.button {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #855928;
  color: white;
  background: #855928;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  border-radius: 10px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #af7e46;
  border-color: #af7e46;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}
